<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 col-md-offset-3 col-xs-12">
        <h1 class="text-xs-center">Sign in</h1>

        <form>
          <fieldset class="form-group" [ngClass]="{'has-danger': emailModel.invalid}">
            <input name="email" [(ngModel)]="user.email" 
              #emailModel="ngModel" #emailDOM class="form-control form-control-lg" 
              required minlength="4"
              type="text" placeholder="Email">
            {{ emailModel.value }}
            <div *ngIf="emailModel.invalid">
              <div *ngIf="emailModel.errors['required']">email required</div>
              <div *ngIf="emailModel.errors['minlength']">4 digits at least</div>
            </div>
            {{ 'valid: ' + emailModel.valid }}
            {{ emailModel.errors | json }}
          </fieldset>
          <fieldset class="form-group">
            <input name="password" class="form-control form-control-lg" type="password" placeholder="Password">
          </fieldset>
          <button type="button" class="btn btn-lg btn-primary pull-xs-right" (click)="doLogin($event)">
            Sign in
          </button>
        </form>
      </div>

    </div>
  </div>
</div>